* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home_container{
  margin: 5px auto;
  padding: 20px;
}

.container {
  background-color: #cfe2f3;
  height: 100vh;
  width: 100vw;
  display: flex;
  border: 1px solid black;
}

.main {
  flex: 1;
   overflow: hidden;
  position: relative;
}

.post_section {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px; 
  overflow-y: scroll;
  margin: 1rem 0;
}

/* User Profile */
.userProfile_section {
  width: 30%;
  border: 1px solid black;
}
.userProfile_section .profile {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.userProfile_section .profile img {
  object-fit: cover;
  border-radius: 50%;
}

/* Navigation  */
.navigation_section {
  border: 1px solid black;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.navigation_section ul li {
  list-style-type: none;
  margin: 1rem 0;
}
.navigation_section ul li a {
  text-decoration: none;
  color: black;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
}

/* post_container */
.post_container {
   border-radius: 5px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
   width: 250px;
  overflow: hidden;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
 
}

.post_container .heading {
   display: flex;
  align-items: center;
   padding: 1rem;
 }
.post_container .heading img {
  margin-right: 1rem;
  border-radius: 50%;
}
.post_container .post_content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post_container .social_share {
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
